**Task 1: Counting Numbers**

write a program that prints the numbers from 1 to 10, each on a new line.

In [2]:
for i in range(1,11): 
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
a = 1

while a<=10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

**Task 2: Even Numbers**

write a program that prints the even numbers from 1 to 20, each on a new line.

In [7]:
for i in range(1,21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [8]:
a= 2

while a<=20:
    print(a)
    a = a+2

2
4
6
8
10
12
14
16
18
20

**Task 3: Square Numbers**

Write a program that calculates and prints the square of each number from 1 to 5.

In [9]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [10]:
a = 1

while a<=5:
    print(a**2)
    a = a+1

1
4
9
16
25

**Task 4: Multiples of Three**

write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [12]:
for i in range(3,31):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [13]:
a = 3

while a<=30:
    print(a)
    a = a+3

3
6
9
12
15
18
21
24
27
30

**Task 5: Reverse Counting**

Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [14]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [15]:
a = 10

while a>=1:
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1