Task 1:

Create a string containing a sentence that includes both single and double quotes.

Use escape characters to include quotes within the string.

Print the modified string.

In [15]:
details = 'I am "vignesh", age "26", from "hyderabad"'    ##Single and double quotations
print(details)

I am "vignesh", age "26", from "hyderabad"

In [13]:
details = '\I am vignesh\', age 26, from hyderabad'      ##escape characters
details

"\\I am vignesh', age 26, from hyderabad"

In [20]:
details = 'I am vignesh, age 26, from hyderabad'    ##Modifying string

In [21]:
details.upper()

'I AM VIGNESH, AGE 26, FROM HYDERABAD'

Task 2:

Declare a string with a backslash \ character in it.

Demonstrate the use of the escape character to print the backslash itself.

Print the resulting string.

In [26]:
print("Vignesh B\bG")              ##Backslash

Vignesh BG

##An escape character is a backslash \ followed by the character you want to insert.

In [28]:
print('\VigneshB\b G')           ##escape character with backslash

\VigneshB G

Task 3:

Construct a string containing newline and tab escape sequences.

Print the string to display the formatted output.

In [30]:
print("vignesh \nis from \nbatch 252")         ##New line

vignesh
is from
batch 252

In [34]:
print('vignesh \tis from \tbatch 252')        ##tab

vignesh 	is from 	batch 252

Task 4:

sentence = "I want to become Data Scientist".

Access and print the first character of the string using indexing.

Access and print the last character of the string using negative indexing.

In [35]:
sentence = "I want to become Data Scientist"

In [38]:
sentence[0]             ##Indexing

'I'

In [44]:
sentence[-1]           ##Negative indexing

't'

Task 5:

What are possible ways yo extract Scientist(use forward and reverse)

Use slicing to extract and print the first word from the string.

Use slicing to extract and print the last three characters of the string.

In [45]:
sentence[22::]           ##below 4 are Posible ways to extract scientist

'Scientist'

In [46]:
sentence[22:32:1]

'Scientist'

In [47]:
sentence[22:32:]

'Scientist'

In [51]:
sentence[-9::]

'Scientist'

In [52]:
sentence[0:2:1]         ##slicing to extract first word

'I '

In [53]:
sentence[-3::]         ##slicing last 3 characters

'ist'

Task 6:

name = "Innomatics Reserach Labs"

Apply slicing to extract a substring that includes the second to fifth characters.

Print the extracted substring.

In [54]:
name = "Innomatics Reserach Labs"

In [57]:
name[1:6:1]         ##as it start with 0 indexing 2nd character number would be 1

'nnoma'

Task 7:

string = "Python@1234"

Use slicing to extract every second character from the string.

Print the resulting sliced string.

In [58]:
string = "Python@1234"

In [60]:
string[0::2]              ##to extract every second character

'Pto@24'

Task 8:

print last five letters.

Utilize slicing to reverse the word order in the string.

Print the string with the words in the reversed order.

In [61]:
name = "Innomatics Reserach Labs"

In [63]:
name[-1:-6:-1]           ##Last five letters in reverse order which also includes space

'sbaL '

Task 9:

a = "123123123"

Apply slicing to extract only the numeric characters at odd positions.

Print the sliced result.

In [64]:
a = "123123123"

In [67]:
a[0::2]             ##every odd potions is extracted

'13213'