**Assignment Task 1: Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.**

In [1]:
fruits = ('Guava','Jack', 'star','Strawberry')
fruits

('Guava', 'Jack', 'star', 'Strawberry')

In [9]:
print('1st fav fruit is: ', fruits[0])
print('2nd fav fruit is: ',fruits[1])
print('3rd fav fruit is: ',fruits[2])
print('4th fav fruit is: ',fruits[3])

1st fav fruit is:  Guava
2nd fav fruit is:  Jack
3rd fav fruit is:  star
4th fav fruit is:  Strawberry

**Assignment Task 2: Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.**

In [13]:
odd = (1,3,5,7,9)
even = (2,4, 6, 8, 10)

prime = odd + even
prime

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

In [14]:
len(prime)

10

In [15]:
type(prime)

tuple

**Assignment Task 3: Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.**

In [19]:
even_set = set(range(2,21,2))
even_set

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

**Assignment Task 4: Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.**

In [24]:
sports_bikes = {'CBR','Ninja','KTM','R15'}
Adventure_bikes = {'Himalayan', 'GS310', 'Vstrom', 'KTM'}

In [25]:
all_bikes = sports_bikes.union(Adventure_bikes)          ##Union
all_bikes

{'CBR', 'GS310', 'Himalayan', 'KTM', 'Ninja', 'R15', 'Vstrom'}

In [26]:
common_bikes = sports_bikes.intersection(Adventure_bikes)  ##Intersection
common_bikes

{'KTM'}

In [29]:
sports = sports_bikes.difference(Adventure_bikes)  ## Diff WRT sports bikes
sports

{'CBR', 'Ninja', 'R15'}

In [30]:
Adventure = Adventure_bikes.difference(sports_bikes)   ## Diff WRT Adventure bikes
Adventure

{'GS310', 'Himalayan', 'Vstrom'}

**Assignment Task 5: Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.**

In [36]:
integers = (19, 27, 43, 14, 85, 62)
integers

(19, 27, 43, 14, 85, 62)

In [37]:
type(integers)

tuple

In [38]:
set_int = set(integers)
set_int

{14, 19, 27, 43, 62, 85}

In [39]:
type(set_int)

set

In [42]:
print("the maximum value of the set is: ", max(set_int))         ## Max

the maximum value of the set is:  85

In [43]:
print("the minimum value of the set is: ", min(set_int))          ##Min

the minimum value of the set is:  14

**Assignment Task 6: Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.**

In [44]:
immutable = ('Cannot', 'add', 'new' , 'element', 'in tuple')
immutable
## there are only to functions for tuple i.e; count and index

('Cannot', 'add', 'new', 'element', 'in tuple')

In [46]:
immutable.append('adding element')            
## because "append" or "add" or "insert" functions are not part of tuple hence it shows error

AttributeError: 'tuple' object has no attribute 'append'

**Assignment Task 7: Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:**

Add a new number to the set.

Remove a number from the set.

Check if a specific number is in the set.

Find the size of the set.

In [47]:
id_num = {1020 , 1112, 1054 , 3636, 7704}
id_num

{1020, 1054, 1112, 3636, 7704}

In [48]:
id_num.add(9842)               ## new number added in last
id_num

{1020, 1054, 1112, 3636, 7704, 9842}

In [49]:
id_num.remove(1054)         ## one number is removed
id_num

{1020, 1112, 3636, 7704, 9842}

In [53]:
1054 in id_num          ## checking if number is there or not

False

In [54]:
len(id_num)           ## size of set

5

**Assignment Task 8: Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.**

In [62]:
elements = tuple(range(3, 40, 4))
elements

(3, 7, 11, 15, 19, 23, 27, 31, 35, 39)

In [63]:
len(elements)

10

In [64]:
elements[3:8:1]                  ## 3rd to 7th position

(15, 19, 23, 27, 31)

**Assignment Task 9: Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.**

In [66]:
lis = ['Q','W','E','R','T','W','Y','U','I','E']     ## A list of elements with length 10
print(lis)
print(len(lis))

['Q', 'W', 'E', 'R', 'T', 'W', 'Y', 'U', 'I', 'E']
10

In [67]:
sil = set(lis)            ##list converted to set and duplicates were removed hence length is 8
print(sil)
print(len(sil))

{'Y', 'U', 'E', 'W', 'I', 'T', 'Q', 'R'}
8

In [68]:
len(lis) - len(sil)         ## this means there are 2 duplicates

2

**Assignment Task 10: Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your**

In [70]:
friends_fav = ('Haunted', 'Conjuring', 'Marvel', 'IronMan', 'Avatar')
my_fav = {'IronMan', 'KGF', 'FamilyMan', 'Pataan', 'Bahubali'}
print("this is tuple: ", friends_fav)
print("this is set: ", my_fav)

this is tuple:  ('Haunted', 'Conjuring', 'Marvel', 'IronMan', 'Avatar')
this is set:  {'Pataan', 'KGF', 'FamilyMan', 'IronMan', 'Bahubali'}

In [73]:
converted = set(friends_fav)
print("After convertion this is set:", converted)

After convertion this is set: {'Avatar', 'Haunted', 'Conjuring', 'Marvel', 'IronMan'}

In [74]:
print("Displaying the common elements: ", my_fav.intersection(converted))

Displaying the common elements:  {'IronMan'}